
body {font-family: "Lucida Console", monospace;

 background-color: pink;
}




/* Style the buttons inside the tab */

div.tab button{
 margin:auto;
 background-color: #8123db;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
 font-size: 17px;
 color:white;
}

/* Change background color of buttons on hover */
div.tab button:hover {
 background-color: #9d76e2;
 
}

/* Create an active/current tablink class */
div.tab button.active {
 background-color: #9d76e2;
}

/* Style the tab content */
.tabcontent {
 display: none;
 padding: 10px 12px;
 border: 1px solid #ccc;
 border-top: none;
 margin:auto;
 
 
 
}

#photo{
 height:350px;
 margin:auto;
 float:left;
 width:250px;}
 

#photo3{
 height: 350px;
 margin:auto;
 float:left;
 width:250px;}

#photo4{
 height: 400px;
 width:250px;
 margin:auto;
 float:left;
}
 
#quote{
 height:300px;
 width:425px;}
 
#photo5{
 height:300px;
 width:500px;}
 
#quote3{
 height:250px;
 width:500px;}
